@import '~bootstrap/scss/bootstrap';

body {
    margin: 0; 
    background: rgb(19,17,65);
    // background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(157, 157, 171) 35%, rgb(19,17,65) 100%);
 background-color:#556;
 background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, rgb(152, 152, 162) 87.5%, rgb(181, 181, 189)),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, rgb(181, 181, 189)),
linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, #445 87.5%,rgb(181, 181, 189)),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px;
    font-family: "Arial", sans-serif;
  }
  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 8px;
    width: 60%;
}

  h1 {
    margin: 10px, 0, 10px, 10px;
    margin-bottom: 0;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    font-size: 15vw;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgb(9, 9, 9), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
  color: #FFFFFF;


  
  }

  p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 2px rgb(19, 22, 84);
    margin: 1em;
  }

  h2 {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
    margin-top: 0;
  }

  h3 {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
  }

  h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
  }
  
  #login {
    border: 3px solid white;
    display: block;
    background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  }
  
  #sign-in {
    font-size: 1.5em;
    padding: .5em .25em;
    color: rgb(19, 22, 84);;
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
  }
  
  #sign-in button {
    color: white;
    background-color: rgb(19, 22, 84);
    border: 2px solid white;
    &:hover {
      color: black;
      border-color: rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #sign-up {
    font-size: 1.5em;
    padding: .5em .25em;
    color: rgb(19, 22, 84);;
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
  }
  
  #sign-up button {
    color: white;
    background-color: rgb(19, 22, 84);
    border: 2px solid white;
    &:hover {
      color: black;
      border-color: rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #sign-out {
    font-size: 1.5em;
    padding: .5em .25em;
    color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
  }
  
  #sign-out button {
    color: white;
    background-color: rgb(19, 22, 84);
    border: 2px solid white;
    &:hover {
      color: black;
      border-color: rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #change-password {
    font-size: 1.5em;
    padding: .5em .25em;
    color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
  }
  
  #change-password button {
    color: white;
    background-color: rgb(19, 22, 84);
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }

  .recipe-buttons {
    justify-content: center;
    text-align: center;
    padding: .5em .25em;
    margin: .5em .25em;
    font-size: 1.75em;
  }
  
  #add-recipe button {
    padding: .5em 2em;
    color: white;
    background-color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #see-recipes button {
    padding: .5em 2em;
    color: white;
    background-color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #update-recipe button {
    padding: .5em 2em;
    color: white;
    background-color:rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }

  .update-recipe {
    display: block;
  }
  #index button {
    padding: .5em 2em;
    margin: 1em;
    color: white;
    background-color:rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2vw;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }

  section {
  margin: 0 auto;
  width: 60%;
  width: 60%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  color: white;
  text-shadow: rgb(121, 121, 150);
  font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  }

  #authenticated {
    display: none;
  }


  #create-cocktail {
    /* Center the form on the page */
    margin: 0 auto;
    width: 60%;
    /* Form outline */
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: .5em;
    padding: 0;
  }
  
  label {
    /* Uniform size & alignment */
    display: block;
    min-width: 10px;
    font-size: 3vw;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: 1em;
    
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  #textbox {
    background-color:#FFF;
    min-height:300px;
    width: 90%;
    padding-bottom: 250px;

  }
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    resize: vertical;
    /* Provide space to type some text */
    height: 5em;
  }
  
  // .button {
  //   /* Align buttons with the text fields */
  //   padding-left: 90px; /* same size as the label elements */
  // }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
       padding: .5em .5em;
       color: white;
       background-color:rgb(19, 22, 84);
       cursor: pointer;
       font-family: 'Bubblegum Sans', cursive;
       border: 2px solid white;
       &:hover {
         color: black;
         border-color:rgb(19, 22, 84);
         background-color: rgb(121, 121, 150);
         background: rgb(121, 121, 150)
       }
     }

     #gif {
       max-width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 0;
        border-radius: 8px;
      
    }

    // #recipetextbox {
    //   padding: 10px;
    //   // background-color: #f4f4f4;
    //   width: 50%;     
    //   margin: auto;

    // }

    #cocktail-name {
      padding: 10px;
      // background-color: #f4f4f4;
      width: 90%;     
      margin: auto;
    }
    // #recipetextbox input {
    //   min-height:50px;
    //   max-height:120px;
    //   width: 290px;
    // }
    // #recipetextbox input.vertical { 
    //   resize: vertical;
    // }
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }

// /* Modal Content/Box */
// .modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }

// /* The Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }