@import '~bootstrap/scss/bootstrap';

body {
    margin: 0; 
    background: rgb(19,17,65);
    background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(157, 157, 171) 35%, rgb(19,17,65) 100%);
 background-color:#556;
 background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, rgb(152, 152, 162) 87.5%, rgb(181, 181, 189)),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, rgb(181, 181, 189)),
linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, #445 87.5%,rgb(181, 181, 189)),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px;
    font-family: "Arial", sans-serif;
// background-repeat: no-repeat;
//  background-attachment: fixed;
//  background-size: cover;
//  background-position: top;
//  background-image:url(https://data.whicdn.com/images/309144818/original.gif);
//  width: 100%;
//  height: 100%;
//  font-family: Arial, Helvetica;
//  letter-spacing: 0.02em;
//   font-weight: 400;
//  -webkit-font-smoothing: antialiased; 
  }
  // nightlife: https://images.unsplash.com/photo-1519214605650-76a613ee3245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)
  // https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5%;
    width: 60%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

#bar-image {
  padding-bottom: 20px;
  border-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}
#dif-cocktails {
  padding-bottom: 150px;
  border-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

  h1 {
    margin: 10px, 0, 10px, 10px;
    margin-bottom: 0;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    font-size: 15vw;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgb(9, 9, 9), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
  color: #FFFFFF;
  }

  p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 2px rgb(19, 22, 84);
    margin: 1em;
  }
#age {
  font-size: 7vw;
  text-shadow: 0 0 5px rgb(9, 9, 9), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
  color: #FFFFFF;
}
#about {
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3vw;
  color: white;
  text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
  margin: .5em;
  margin-top: 0;
}
#welcome {
  padding-bottom: 150px;
}
  h2 {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
    margin-top: 0;
  }

  h3 {
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 7vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
  }

  h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: white;
    text-shadow: 0 0 5px rgb(6, 6, 6), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff, 2px -3px 0px rgba(206,89,55,0.16);
    margin: .5em;
  }
 

  .recipe-buttons {
    justify-content: center;
    text-align: center;
    padding: .5em .25em;
    margin: .5em .25em;
    font-size: 1.75em;
  }
  
  #add-recipe button {
    padding: .5em 1em;
    font-size: 2vw;
    color: white;
    background-color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  #update-button {
    padding: .5em 1em;
    font-size: 2vw;
    color: white;
    background-color:rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }

  // UPDATE MODAL
  #modal-header {
    width: 90%;
  }
  #update-textbox   {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    max-width: 90%;
    box-sizing: border-box;
    margin-bottom: 1em;
  
    /* Match form field borders */
    border: 1px solid #999;
    background-color:#FFF;
    min-height:300px;
    width: 90%;
    padding-bottom: 250px; 
  }
  #update-modal-cocktail{
    padding: 0,40%;
    font: 1em sans-serif;
  
    /* Uniform text field size */
    // max-width: 90%;
    // box-sizing: border-box;
    // margin-bottom: 1em;
  }

  #update-modal-id{
    padding: 0,40%;
    // display: block;
    font: 1em sans-serif;
  
    // /* Uniform text field size */
    // // max-width: 90%;
    // box-sizing: border-box;
    // margin-bottom: 1em;
  }
  #update-modal-dismiss {
    font: white;
  }

  .update-recipe {
    display: block;
    padding: 0;
  }

  #create-button{
    padding: .5em 2em;
    color: white;
    background-color:rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }

  #index button {
    padding: .5em 2em;
    font-size: 3vw;
    margin: 1em;
    color: white;
    background-color:rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  #see-recipes button {
    padding: .5em 1em;
    font-size: 3vw;
    color: white;
    background-color: rgb(19, 22, 84);
    cursor: pointer;
    font-family: 'Bubblegum Sans', cursive;
    border: 2px solid white;
    &:hover {
      color: black;
      border-color:rgb(19, 22, 84);
      background-color: rgb(121, 121, 150);
      background: rgb(121, 121, 150)
    }
  }
  
  section {
  margin: 0 auto;
  width: 60%;
  width: 60%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  color: white;
  text-shadow: rgb(121, 121, 150);
  font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  }

  #authenticated {
    display: none;
  }


  #create-cocktail {
    /* Center the form on the page */
    margin: 0 auto;
    width: 60%;
    /* Form outline */
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: .5em;
    padding: 0;
  }
  
  label {
    /* Uniform size & alignment */
    display: block;
    min-width: 10px;
    font-size: 3vw;
    margin-left: 40%;
    margin-right: 40%;
  }
  
.create-textbox   {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: 1em;
    resize: none;
    max-width: 100%; 
    max-height: 100%;
    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  #textbox {
    background-color:#FFF;
    min-height:300px;
    width: 90%;
    padding-bottom: 250px;
    resize: none;

    max-width: 100%; 
    max-height: 100%;
  }

  #recipe-text {
    resize: none;
    background-color:#FFF;
    min-height:300px;
    width: 90%;
    padding-bottom: 250px;
    resize: none;

    max-width: 100%; 
    max-height: 100%;
  }
    // #textbox-wrapper {
    //   padding: 10px;
    //   background-color: #f4f4f4;
    //   width: 90%;
    // }
    
    // #textbox-wrapper textarea {
    //   min-height:50px;
    //   max-height:120px;
    //   width: 90%;
    // }
    
    // #textbox-wrapper textarea.vertical { 
    //   resize: vertical;
    // }
  
  // textarea {
  //   /* Align multiline text fields with their labels */
  //   vertical-align: top;
  //   resize: vertical;
  //   /* Provide space to type some text */
  //   height: 5em;
  // }
  
  // .button {
  //   /* Align buttons with the text fields */
  //   padding-left: 90px; /* same size as the label elements */
  // }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
       padding: .5em .5em;
       margin: .5em;
       font-size: 3vw;
       color: white;
       background-color:rgb(19, 22, 84);
       cursor: pointer;
       font-family: 'Bubblegum Sans', cursive;
       border: 2px solid white;
       &:hover {
         color: black;
         border-color:rgb(19, 22, 84);
         background-color: rgb(121, 121, 150);
         background: rgb(121, 121, 150)
       }
     }

     #gif {
        max-width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 0;
        border-radius: 5%;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
      
    }

    // #recipetextbox {
    //   padding: 10px;
    //   // background-color: #f4f4f4;
    //   width: 50%;     
    //   margin: auto;

    // }

    #cocktail-name {
      padding: 10px;
      // background-color: #f4f4f4;
      width: 90%;     
      margin: auto;
    }
    // #recipetextbox input {
    //   min-height:50px;
    //   max-height:120px;
    //   width: 290px;
    // }
    // #recipetextbox input.vertical { 
    //   resize: vertical;
    // }
// #updateModal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }

/* Modal Content/Box */
// #update-recipe {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }

/* The Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }
 
#login {
  border: 1px solid white;
  // border-radius: 3%;
  display: block;
  font-size: 1.25vw;
  // background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
  background: linear-gradient(45deg, #8808f9, #eb206e, #1856ff, #00ffc3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  input {
    padding: .5em 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // font-size: 2vw;
  }
}

#login-message {
  padding-top: 0;
}

// .modal-dialog {
//   border: 3px solid white;
//   display: block;
//   background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
// }

// #createmodal {
//   border: 3px solid white;
//   display: block;
//   background: radial-gradient(circle, rgb(214, 214, 225) 0%, rgb(121, 121, 150) 35%, rgb(19,17,65) 100%);
// }


#sign-in {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(19, 22, 84);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-in button {
  color: white;
  padding: .5em 1em;
  font-size: 2vw;
  background:linear-gradient(45deg, #8808f9, #1856ff, #00ffc3);
  animation: gradient 15s ease infinite;
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(19, 22, 84);
    // background-color: 1856ff;
    background: linear-gradient(-45deg, #eb206e, #1856ff, #00ffc3);;
  }
}

#sign-up {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(19, 22, 84);;
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-up button {
  color: white;
  padding: .5em 1em;
  font-size: 2vw;
  background-color: rgb(19, 22, 84);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(19, 22, 84);
    background-color: rgb(121, 121, 150);
    background: rgb(121, 121, 150)
  }
}

#sign-out {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(19, 22, 84);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-out button {
  color: white;
  padding: .5em 1em;
  font-size: 2vw;
  background-color: rgb(19, 22, 84);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(19, 22, 84);
    background-color: rgb(121, 121, 150);
    background: rgb(121, 121, 150)
  }
}

#change-password {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(19, 22, 84);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#change-password button {
  color: white;
  padding: .5em 1em;
  font-size: 2vw;
  background-color: rgb(19, 22, 84);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color:rgb(19, 22, 84);
    background-color: rgb(121, 121, 150);
    background: rgb(121, 121, 150)
  }
}

// body {
//   background: linear-gradient(-45deg, #630a79, #23a6d5, #00ffc3);
//   background-size: 400% 400%;
//   animation: gradient 15s ease infinite;
// }

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

